<section class="features">
    <div class="features__wrapper">        
        <ol class="features__list features-list list">
            <li class="features__item features-list__item">Обучение в малых командах</li>
            <li class="features__item features-list__item">
                Визуализированные конспекты
            </li>
            <li class="features__item features-list__item">
                Каждое занятие имеет цель и конкретный результат
            </li>
            <li class="features__item features-list__item">Реальные результаты преподавателя</li>
            <li class="features__item features-list__item">
                Прогамма курса соответствует требованиям МОН Украины
            </li>
            <li class="features__item features-list__item">
                Набор команд по уровням знаний
            </li>
        </ol>
    </div>
</section>