<header class="header">
    <div class="header__wrapper container">
        <a href="" class="logo link logo--dark">
            <svg class="logo__svg">
                <use class="logo__img-dark" href="./images/svg/sprite.svg#logo-dark"></use>
                <use class="logo__img-white" href="./images/svg/sprite.svg#logo-white"></use>
            </svg>
        </a>
        <nav class="navigation">
            <ul class="navigation__list list">
                <li class="navigation__item">
                    <a href="./index.html" class="navigation__link link">Программы обучения</a>
                </li>
                <li class="navigation__item">
                    <a href="./index.html" class="navigation__link navigation__link--current link">О
                        нас</a>
                </li>
                <li class="navigation__item">
                    <a href="./index.html" class="navigation__link link">Варианты обучения</a>
                </li>
                <li class="navigation__item">
                    <a href="./index.html" class="navigation__link link">Контакты</a>
                </li>
            </ul>
        </nav>
        <button class="header__call-btn button button--transparent link" type="button">Консультация по
            телефону</button>
        <div class="modal__backdrop is-hidden" data-modal>
            <div class="modal-menu container">
                <a href="" class="modal-menu__logo logo link logo--white">
                    <svg class="logo__svg">
                        <use class="logo__img-dark" href="./images/svg/sprite.svg#logo-dark"></use>
                        <use class="logo__img-white" href="./images/svg/sprite.svg#logo-white"></use>
                    </svg>
                </a>
                <nav class="mobile-navigation">
                    <ul class="mobile-navigation__list list">
                        <li class="mobile-navigation__item">
                            <a href="./index.html" class="mobile-navigation__link link">Программы обучения</a>
                        </li>
                        <li class="mobile-navigation__item">
                            <a href="./index.html"
                                class="mobile-navigation__link mobile-navigation__link--current link">О
                                нас</a>
                        </li>
                        <li class="mobile-navigation__item">
                            <a href="./index.html" class="mobile-navigation__link link">Варианты обучения</a>
                        </li>
                        <li class="mobile-navigation__item">
                            <a href="./index.html" class="mobile-navigation__link link">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <button class="modal-menu__call-btn button button--transparent link" type="button">Консультация по
                    телефону</button>
                <button class="modal-menu__close-btn" type="button" data-modal-close>
                    <svg class="modal-menu__close-icon" width="15" height="15"
                        aria-label="переключатель мобильного меню">
                        <use href="./images/svg/sprite.svg#icon-cross"></use>
                    </svg>
                </button>
            </div>
        </div>
        <button class="menu-btn" type="button" data-modal-open>
            <svg class="menu-btn__icon" width="20" height="12" aria-label="переключатель мобильного меню">
                <use href="./images/svg/sprite.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</header>