<section id="section-programm" class="programm">
  <div class="programm__line"></div>
  <div class="container">
    <h2 class="programm__head">Наша программа</h2>
    <ul class="programm__list list">
      <li class="programm__item">
        <h3 class="programm__term">1 семестр</h3>
        <ul class="programm-skills__list list">
          <li class="programm-skills__item">
            <h4 class="programm-skills__name">Grammar</h4>
            <p class="programm-skills__description">Nouns & Articles</p>
            <p class="programm-skills__description">Adjectives & Adverb</p>
          </li>
          <li class="programm-skills__item">
            <h4 class="programm-skills__name">Vocabulary</h4>
            <p class="programm-skills__description">Family & Relations</p>
            <p class="programm-skills__description">People & Society</p>
          </li>
        </ul>
      </li>
      <li class="programm__item">
        <h3 class="programm__term">2 семестр</h3>
        <ul class="programm-skills__list list">
          <li class="programm-skills__item">
            <h4 class="programm-skills__name">Grammar</h4>
            <p class="programm-skills__description">Pronouns</p>
            <p class="programm-skills__description">Active Voice</p>
            <p class="programm-skills__description">Passive Voice</p>
          </li>
          <li class="programm-skills__item">
            <h4 class="programm-skills__name">Vocabulary</h4>
            <p class="programm-skills__description">Home</p>
            <p class="programm-skills__description">School</p>
            <p class="programm-skills__description">Work</p>
          </li>
        </ul>
      </li>
      <li class="programm__item">
        <h3 class="programm__term">3 семестр</h3>
        <ul class="programm-skills__list list">
          <li class="programm-skills__item">
            <h4 class="programm-skills__name">Grammar</h4>
            <p class="programm-skills__description">Modal verbs</p>
            <p class="programm-skills__description">Infinitive</p>
            <p class="programm-skills__description">Gerund</p>
            <p class="programm-skills__description">Participle: 1, 2</p>
          </li>
          <li class="programm-skills__item">
            <h4 class="programm-skills__name">Vocabulary</h4>
            <p class="programm-skills__description">Travel & Tourism</p>
            <p class="programm-skills__description">Culture & Free Time</p>
            <p class="programm-skills__description">Sport</p>
          </li>
          <li class="programm-skills__item">
            <h4 class="programm-skills__name">Writing</h4>
            <p class="programm-skills__description">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="programm__item">
        <h3 class="programm__term">4 семестр</h3>
        <ul class="programm-skills__list list">
          <li class="programm-skills__item">
            <h4 class="programm-skills__name">Grammar</h4>
            <p class="programm-skills__description">
              Clauses: Conditional and Wishes
            </p>
            <p class="programm-skills__description">Direct / Reported speech</p>
            <p class="programm-skills__description">Preposition</p>
            <p class="programm-skills__description">Conjunction</p>
            <p class="programm-skills__description">Numeral</p>
          </li>
          <li class="programm-skills__item">
            <h4 class="programm-skills__name">Vocabulary</h4>
            <p class="programm-skills__description">Healthy Living</p>
            <p class="programm-skills__description">Nature & Environment</p>
            <p class="programm-skills__description">Money</p>
          </li>
          <li class="programm-skills__item">
            <h4 class="programm-skills__name">Writing</h4>
            <p class="programm-skills__description">Formal Letter</p>
          </li>
        </ul>
      </li>
      <li class="programm__item">
        <h3 class="programm__term">5 семестр</h3>
        <ul class="programm-skills__list list">
          <li class="programm-skills__item">
            <h4 class="programm-skills__name programm__tests">Tests</h4>
            <p class="programm-skills__description">Revision</p>
            <p class="programm-skills__description">Tests</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
