<section id="program" class="program">
  <div class="program__line"></div>
  <div class="program__bg-wrapper">
    <div class="progamm__wraper container">
      <h2 class="program__head">Наша программа</h2>
      <ul class="program__list list">
        <li class="program__item">
          <h3 class="program__term">1 семестр</h3>
          <ul class="program-skills__list list">
            <li class="program-skills__item">
              <h4 class="program-skills__name">Grammar</h4>
              <p class="program-skills__description">Nouns & Articles</p>
              <p class="program-skills__description">Adjectives & Adverb</p>
            </li>
            <li class="program-skills__item">
              <h4 class="program-skills__name">Vocabulary</h4>
              <p class="program-skills__description">Family & Relations</p>
              <p class="program-skills__description">People & Society</p>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__term">2 семестр</h3>
          <ul class="program-skills__list list">
            <li class="program-skills__item">
              <h4 class="program-skills__name">Grammar</h4>
              <p class="program-skills__description">Pronouns</p>
              <p class="program-skills__description">Active Voice</p>
              <p class="program-skills__description">Passive Voice</p>
            </li>
            <li class="program-skills__item">
              <h4 class="program-skills__name">Vocabulary</h4>
              <p class="program-skills__description">Home</p>
              <p class="program-skills__description">School</p>
              <p class="program-skills__description">Work</p>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__term">3 семестр</h3>
          <ul class="program-skills__list list">
            <li class="program-skills__item">
              <h4 class="program-skills__name">Grammar</h4>
              <p class="program-skills__description">Modal verbs</p>
              <p class="program-skills__description">Infinitive</p>
              <p class="program-skills__description">Gerund</p>
              <p class="program-skills__description">Participle: 1, 2</p>
            </li>
            <li class="program-skills__item">
              <h4 class="program-skills__name">Vocabulary</h4>
              <p class="program-skills__description">Travel & Tourism</p>
              <p class="program-skills__description">Culture & Free Time</p>
              <p class="program-skills__description">Sport</p>
            </li>
            <li class="program-skills__item">
              <h4 class="program-skills__name">Writing</h4>
              <p class="program-skills__description">Informal Letter</p>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__term">4 семестр</h3>
          <ul class="program-skills__list list">
            <li class="program-skills__item">
              <h4 class="program-skills__name">Grammar</h4>
              <p class="program-skills__description">
                Clauses: Conditional and Wishes
              </p>
              <p class="program-skills__description">Direct / Reported speech</p>
              <p class="program-skills__description">Preposition</p>
              <p class="program-skills__description">Conjunction</p>
              <p class="program-skills__description">Numeral</p>
            </li>
            <li class="program-skills__item">
              <h4 class="program-skills__name">Vocabulary</h4>
              <p class="program-skills__description">Healthy Living</p>
              <p class="program-skills__description">Nature & Environment</p>
              <p class="program-skills__description">Money</p>
            </li>
            <li class="program-skills__item">
              <h4 class="program-skills__name">Writing</h4>
              <p class="program-skills__description">Formal Letter</p>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__term">5 семестр</h3>
          <ul class="program-skills__list list">
            <li class="program-skills__item">
              <h4 class="program-skills__name program__tests">Tests</h4>
              <p class="program-skills__description">Revision</p>
              <p class="program-skills__description">Tests</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>