.features-list {
  width: calc(100% - 40px);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  counter-reset: item;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.08em;
  color: $dark-bg;

  background: $light-bg;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (min-width: 480px) {
    width: 400px;
  }

  @media screen and (min-width: $tablet) {
    width: 688px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 96px;
    padding-right: 80px;

    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1280px) {
    width: 1250px;
    font-size: 20px;
    line-height: 1.4;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1344px) {
    width: 1314px;
    padding-left: 94px;
    padding-right: 92px;
  }

  &__item {
    max-width: 300px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::before {
      display: block;
      color: $accent-color;

      margin-bottom: 5px;

      @media screen and (min-width: 1280px) {
         margin-bottom: 10px;
      }
    }

    &:nth-child(-n + 9):before {
      content: '\2015'' 0' counter(item);
      counter-increment: item;
    }

    &:nth-child(n + 10):before {
      content: '\2015'' ' counter(item);
      counter-increment: item;
    }

    @media screen and (min-width: $tablet) {
      max-width: 100%;
      flex-basis: calc((100% - 40px) / 2);
      margin-left: 10px;
      margin-right: 10px;

      &:not(:last-child) {
        margin-bottom: 0px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: 1280px) {
      flex-basis: calc((100% - 120px) / 3);
      margin-left: 20px;
      margin-right: 20px;

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 0px;
      }

      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 32px;
      }
    }
  }
}
