.hero {
  padding-top: 110px;
  padding-bottom: 50px;
  text-align: center;

  background-image: url('../images/hero-bg-m.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: calc(100%) calc(70%);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero-bg-m@2x.png');
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    z-index: 0;
    padding-top: 158px;
    text-align: start;
    background-size: calc(100%) calc(85%);
    background-image: url('../images/hero-bg-t.png');
  }

  @media screen and (min-width: $tablet) and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi) and (min-width: $tablet),
    screen and (min-resolution: 2dppx) and (min-width: $tablet) {
    background-image: url('../images/hero-bg-t@2x.png');
  }

  @media screen and (min-width: 1280px) {
    padding-top: 228px;
    padding-bottom: 123px;
    background-size: calc(100%) calc(82%);
    background-image: url('../images/hero-bg-d.png');
  }

  @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: url('../images/hero-bg-d@2x.png');
  }

  &__title {
    max-width: 280px;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 800;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 0.03em;
    color: $dark-bg;

    text-align: start;

    @media screen and(min-width: $tablet) {
      font-size: 26px;
      line-height: 1.307;
    }

    @media screen and(min-width: 1280px) {
      max-width: 630px;
      margin-bottom: 24px;
      font-size: 58px;
      line-height: 1.293;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.571;
    letter-spacing: 0.08em;
    color: $dark-bg;

    text-align: start;

    @media screen and(min-width: $tablet) {
      max-width: 300px;
    }

    @media screen and(min-width: 1280px) {
      margin-bottom: 40px;
      max-width: 540px;
      font-size: 20px;
      line-height: 1.65;
    }

    &--hint {
      font-weight: 500;
      color: $subtitle-color;
    }

    &--accent {
      color: $accent-color;
    }
  }

  &__call-btn {
    margin-bottom: 30px;

    @media screen and(min-width: $tablet) {
      margin-bottom: 143px;
    }

    @media screen and(min-width: 1280px) {
      margin-bottom: 170px;
    }

    @media screen and(min-width: 1440px) {
      margin-bottom: 248px;
    }
  }

  &__image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 77px;

    @media screen and(min-width: $tablet) {
      margin-bottom: 0px;
      margin-left: 0;
      margin-right: 0;
      position: absolute;
      top: 170px;
      left: calc(49%);
    }

    @media screen and(min-width: 1280px) {
      top: 170px;
      left: calc(50%);
      width: calc(50%);
      max-width: 842px;
    }
  }

  &__list {
    text-align: start;

    @media screen and(min-width: $tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list-item {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and(min-width: $tablet) {
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }

    @media screen and(min-width: 1280px) {
      width: 425px;      
    }

     @media screen and(min-width: 1344px) {
      width: 438px;      
    }
  }

  &__list-icon-border {
    width: 60px;
    height: 60px;

    @media screen and(min-width: 1280px) {
      width: 100px;
      height: 102px;
    }
  }

  &__list-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;

    fill: $accent-color;

    @media screen and(min-width: 1280px) {
      top: 27px;
      left: 25px;
      width: 45px;
      height: 47px;
    }    
  }

  &__list-text {
    width: 146px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.429;
    letter-spacing: 0.08em;
    color: $dark-bg;

    @media screen and(min-width: 1280px) {
      position: absolute;
      left: 80px;
      width: 330px;
      margin-left:0px;
      font-size: 20px;
      line-height: 1.65;
    }

    @media screen and(min-width: 1344px) {
      left: 85px;
      width: 366px;      
    }
  }
}
