.programm {
  background: $title-color;
  font-style: normal;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: $tablet) {
  .programm {
    padding-top: 60px;
    padding-bottom: 189px;
  }
}
@media screen and (min-width: 1280px) {
  .programm {
    position: relative;
    padding-top: 120px;
    padding-bottom: 363px;
  }
}
// -------------------------------------------
@media screen and (max-width: $tablet) {
  .programm__list {
    margin-left: 100px;
    position: relative;
  }
}

@media screen and (min-width: $tablet) and (max-width: 1279px) {
  .programm__list {
    position: relative;
    margin-left: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .programm__list {
    display: flex;
    margin-left: 0px;
  }
}

@media screen and (min-width: $tablet) and (max-width: 1279px) {
  .programm-skills__list {
    display: flex;
  }
}
@media screen and (min-width: $tablet) and (max-width: 1279px) {
  .programm-skills__item:first-child {
    width: 176px;
    margin-right: 50px;
  }

  .programm-skills__item:nth-child(2n) {
    width: 156px;
    margin-right: 50px;
  }
}

.programm__head {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.333;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-dark-theme-color;
  margin-bottom: 43px;
  margin-top: 0px;
}

@media screen and (min-width: $tablet) {
  .programm__head {
    font-size: 26px;
    line-height: 1.308;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .programm__head {
    font-size: 46px;
    line-height: 1.304;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1279px) {
  .programm__term {
    position: relative;
  }
}
.programm__term {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $title-dark-theme-color;
}

@media screen and (min-width: 1280px) {
  .programm__term {
    font-size: 30px;
    line-height: 0.93;
  }
}
@media screen and (max-width: 1279px) {
  .programm__term::before {
    content: '';
    position: absolute;
    top: 25%;
    right: 100%;
    margin-right: 20px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $accent-color;
    z-index: 2;
  }
}

@media screen and (min-width: 1280px) {
  .programm__term::before {
    content: '';
    position: absolute;
    display: block;
    top: -70px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: $accent-color;
    z-index: 2;
  }
}

.programm__term {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 1280px) {
  .programm__term {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: $tablet) and (max-width: 1279px) {
  .programm__term::before {
    margin-right: 50px;
  }
}

.programm-skills__name {
  margin-bottom: 11px;
  margin-top: 11px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.08em;
  color: $accent-color;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .programm-skills__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.65;
  }
}

.programm-skills__name::before {
  content: '';
  display: block;
  width: 12px;
  height: 2px;
  background: $accent-color;
  margin-right: 5px;
}

.programm-skills__description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.08em;
  color: $subtitle-color;
  opacity: 0.5;
}
@media screen and (min-width: 1280px) {
  .programm-skills__description {
    font-size: 18px;
    line-height: 1.556;
  }
}
@media screen and (max-width: 767px) {
  .programm-skills__item {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .programm-skills__item:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .programm__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: $tablet) and (max-width: 1279px) {
  .programm__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1279px) {
  .programm__item:first-child::before {
    content: '';
    position: absolute;
    display: inline-block;
    margin-top: 10px;
    right: 100%;
    margin-right: 26px;
    width: 1px;
    height: 92%;
    background: $title-dark-theme-color;
  }
}
@media screen and (min-width: $tablet) and (max-width: 1279px) {
  .programm__item:first-child::before {
    margin-right: 56px;
    height: 705px;
  }
}

@media screen and (min-width: 1280px) {
  .programm__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .programm__item {
    padding-top: 60px;
    position: relative;
    width: 240px;
  }
}

@media screen and (min-width: 1280px) {
  .programm__line {
    position: absolute;
    display: block;
    top: 277px;
    height: 2px;
    width: 100%;
    background: $title-dark-theme-color;
  }
}
.programm__tests {
  color: $title-color;
  margin-bottom: 10px;
}
